# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Node modules and package managers
node_modules/

# Firebase
.firebase/
.firebaserc
.firebasehosting.*

# Build output
.next/
out/
build/

# Testing
coverage/

# Environment variables
.env
.env.*

# Misc system files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor folders
.vscode/
.idea/

# OS or temp files
*.pem
*.tsbuildinfo
next-env.d.ts

# assets
/public/assets
