.header {
    background-color: var(--color-grey-dark-1);
}

.wrapper{
    background-color: var(--color-grey-dark-1);
    padding-top: 10rem;
}

.footer {
    background-color: var(--color-grey-dark-1);
}