.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem; /* clear navigation bar */
    background-color: var(--color-grey-dark-1);

}

.next_event_wrapper {
    width: 128rem;
}

.event_list_wrapper {
    display: flex;
    flex-direction: column;
    width: 128rem;
}

.event_item {
    background-color: green;
    color: var(--color-grey-light-1);
}

.title {
    font-size: 2.2rem;
}