.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10rem 0 5rem;
    background-color: var(--color-grey-dark-1);
}

.menu {
    width: 90%;
    height: auto;
}

@media (min-width:1024px) {
    .wrapper{
        padding-top: 13rem;
    }
}